body{
    background-color: #202024;
}

footer{
    color: white;
    background-color: #1b1b1f;
}

.pb{
    display: flex;
    justify-content: center;
}

img{
    width: 23rem;;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.vidio video{
    display: flex;
    justify-content: center;
    position: relative;
    right: 0;
    object-fit: cover;
    min-width: 100%; 
    max-height: 500px;
}

.vidio{
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.grid{
    padding-left: 8%;
    padding-right: 8%;
    background-color: #202024;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
h1{
    font-size: 4em;
    color: white;
    font-family: sans-serif;
}

h3{
    color: white;
    font-family: sans-serif;
}
@media only screen and (max-width: 500px){
    .vidio video{
        max-height: 250px;
    }
}

.icons i{
    border: 2px solid gray;
    color: gray;
    border-radius: 1em;
    padding: 8px;
    font-size: 2em;
    text-decoration: none;
}

ul li{
    list-style-type: none;
    float: left;
    padding: 0em 1em;
}

.icons p{
    display: flex;
    justify-content: center;
}

article{
    padding: 2em 0;
}

.grid div{
    background-color: #2c2c32;
}

#button5{
    background-color: #7f92cf;
    color: white;
    width: 100%;
    height: 4em;
}

#button2{
    background-color: #70c7be;
    color: white;
    width: 100%;
    height: 4em;
}

.icons i:hover{
    background-color: white;
}

.grid h3{
    display:flex;
    justify-content: center;
    color: white;
}

p{
    padding: 0 10px;
    color: white;
    font-family: 'Roboto';
}